{
    "files.trimTrailingWhitespace": true,
    "go.coverOnSave": true,
    "go.formatTool": "goimports",
    "go.testOnSave": true,
    "redhat.telemetry.enabled": false,
    "go.toolsManagement.autoUpdate": true,
    "codeQL.telemetry.enableTelemetry": false,
    "window.zoomLevel": 0,
    "workbench.colorTheme": "Default Dark Modern"
}