{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash
# -*- mode: bash -*-

set -eufo pipefail

brew bundle --file=/dev/stdin <<EOF
brew "bat"
brew "eza"
brew "fd"
brew "fzf"
brew "git-delta"
brew "kubernetes-cli"
EOF

{{ end -}}
