{{- if (eq .chezmoi.os "linux") -}}
{{- if (eq ( index .chezmoi.osRelease "idLike" ) "ubuntu") -}}
#!/bin/bash
# -*- mode: sh -*-

set -eufo pipefail

if lspci | grep --quiet 'VGA compatible controller: NVIDIA Corporation'; then
    sudo add-apt-repository 'ppa:graphics-drivers/ppa' --yes
    sudo apt-get update
    sudo apt-get install -y nvidia-driver-495
fi

{{ end -}}
{{ end -}}