# -*- mode: ini -*-

[alias]
	dd = diff --cached
	sub = submodule update --init --recursive
	update = "!f(){ git fetch origin && git rebase $(git symbolic-ref refs/remotes/origin/HEAD); };f"
[branch]
	sort = -committerdate
[color]
	ui = auto
[commit]
	gpgsign = false
[core]
	pager = delta
	autocrlf = false
[delta]
	navigate = true
	line-numbers = true
[diff]
	renames = copies
	algorithm = histogram
	colorMoved = default
[fetch]
	prune = true
[gpg]
	program = /usr/bin/gpg2
[grep]
	lineNumber = true
[init]
	defaultBranch = main
[interactive]
	diffFilter = delta --color-only
[merge]
	conflictStyle = zdiff3
[pull]
	rebase = true
[push]
	autoSetupRemote = true
	default = simple
[stash]
	showPatch = true
[rebase]
	autostash = true
	autoSquash = true
	updateRefs = true
[user]
	email = {{ .git.email }}
	name = Kamil Domański

{{ if not (or .ephemeral .headless) -}}
[url "git@github.com:kdomanski/"]
	insteadOf = https://github.com/kdomanski/
{{- end }}
